* {
    box-sizing: border-box;
}
.wrap {
    width: 756px;
    margin: 20px auto;
}
h2.main-h2 {
    font-size: 0;
    line-height: 29px;
    border-bottom: 1px solid #dae5eb;
    padding-left: 30px;
}
h2.main-h2 img.main-h2-text {
    vertical-align: top;
}
.guide-list {
    padding-left: 30px;
    position: relative;
}
ul.export-list::after, .design-guide-list dl::after, ul.key-word-tab-list::after {
    display: block;
    content: "";
    clear: both;
}
ul.export-list {
    display: inline-block;
    line-height: 30px;
}
ul.export-list li {
    float: left;
    font-size: 12px;
}
ul.export-list li a {
    color: #26669d;
    font-weight: bold;
    letter-spacing: 0.4px;
    padding: 7px 0;
}
img.export-list-arrow {
    margin-top: -2px;
}
ul.export-list li:first-child a {
    background: url("../img/header/export-list-bar.png") no-repeat right;
    padding-right: 12px;
}
ul.export-list li:last-child a {
    padding-left: 10px;
    letter-spacing: 0.7px;
}
.pages {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #807f7f;
    position: absolute;
    right: 0;
    letter-spacing: 0.3px;
    line-height: 30px;
}
.pages input.header-text-box {
    color: #807f7f;
    border: 1px solid #c0c0c0;
    width: 33px;
    line-height: 16px;
    text-align: center;
}
.pages a.page-left, .pages a.page-right {
    background: url("../img/header/pages-left-btn.png") no-repeat;
    padding-left: 12px;
    margin-left: 4px;
}
.pages a.page-right {
    background: url("../img/header/pages-right-btn.png") no-repeat;
    margin-left: 2px;
}
button.print-btn, button.header-list-btn {
    border: none;
    display: inline-block;
    background: url("../img/header/header-print-btn.png") repeat-x;
    line-height: 22px;
    color: #f9fdff;
    font-size: 11px;
    letter-spacing: -1.3px;
    margin-left: 20px;
}
span.print-btn-left {
    background: url("../img/header/header-print-btn-left.png") no-repeat left top;
    display: inline-block;
    padding-left: 8px;
}
span.print-btn-right {
    background: url("../img/header/header-print-btn-right.png") no-repeat right top;
    display: inline-block;
    padding-right: 7px;
}
button.header-list-btn {
    background: url("../img/header/header-list-btn.png") repeat-x;
    margin-left: -2.8px;
}
span.header-list-btn-left {
    background: url("../img/header/header-list-btn-left.png") no-repeat left top;
    display: inline-block;
    padding-left: 16px;
}
span.header-list-btn-right {
    background: url("../img/header/header-list-btn-right.png") no-repeat right top;
    display: inline-block;
    padding-right: 7px;
}
.box-content {
    border: 5px solid #edf3f7;
    padding: 20px 20px 30px 25px;
    margin-top: -2px;
}
h3.box-h3 {
    color: #26669d;
    font-size: 15px;
    display: inline-block;
    line-height: 19px;
    letter-spacing: 0.8px;
}
button.origin-btn {
    display: inline-block;
    border: none;
    background: url("../img/main/origin-btn.png") repeat-x;
    line-height: 19px;
    letter-spacing: -1.5px;
    font-size: 10px;
    color: #42687f;
    vertical-align: top;
    margin-left: 3px;
}
span.origin-btn-left {
    display: inline-block;
    background: url("../img/main/origin-btn-left.png") no-repeat left;
    padding-left: 7px;
}
span.origin-btn-right {
    display: inline-block;
    background: url("../img/main/origin-btn-right.png") no-repeat right;
    padding-right: 7px;
}
.design-guide-list {
    padding: 13px 0;
    border-bottom: 1px solid #e9e9e9;
}
img.box-content-img {
    padding: 7px 15px 18px 0;
}
.design-guide-list dl.design-list {
    display: inline-block;
    width: 82.7%;
    vertical-align: top;
    line-height: 25px;
    padding-left: 0;
}
.design-guide-list dl.design-list dt {
    float: left;
    background: url("../img/main/dl-marker.png") no-repeat left center;
    padding-left: 8px;
    margin-top: 0;
    font-size: 12px;
}
.design-guide-list dl.design-list dd {
    margin-top: 0;
    letter-spacing: 0.19px;
}
.design-guide-list dl.design-list dd:nth-child(2) {
    text-indent: 46px;
}
.design-guide-list dl.design-list dd:nth-child(4) {
    text-indent: 41px;
}
.design-guide-list dl.design-list dd:nth-child(6),
.design-guide-list dl.design-list dd:nth-child(8),
.design-guide-list dl.design-list dd:nth-child(10) {
    text-indent: 20px;
}
.design-guide-list dl.design-list dd:nth-child(12),
.design-guide-list dl.design-list dd:nth-child(14) {
    text-indent: 64px;
}
dl.design-list {
    padding-left: 1px;
}
dl.design-list dt {
    font-size: 15px;
    color: #807f7f;
    letter-spacing: 0.75px;
    font-weight: bold;
    margin-top: 20px;
}
dl.design-list dd {
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    margin-top: 19px;
}
.box-content dl.design-list:nth-child(5) {
    margin-top: 30px;
}
.box-content dl.design-list:nth-child(5) dd {
    position: relative;
    padding: 66px 694px 0 0;
}
.box-content dl.design-list:nth-child(5) dd ol {
    list-style: decimal inside;
    letter-spacing: 0.03px;
    line-height: 15px;
    position: absolute;
    top: 0;
    left: -2px;
}
.box-content dl.design-list:nth-child(5) dd ol li:last-child {
    letter-spacing: -0.02px;
}
.box-content dl.design-list:nth-child(5) dd ol li a.more-content {
    text-decoration: underline;
    color: #00a5f2;
    position: absolute;
    top: 52px;
    right: 6px;
}
p.box-p {
    font-size: 12px;
    color: #807f7f;
    margin-top: 14px;
    letter-spacing: -0.03px;
}
.orange-btn-wrap {
    text-align: right;
    margin-top: 10px;
}
.datas {
    margin-left: 30px;
    padding-top: 8px;
}
.reference {
    padding-bottom: 20px;
    border-bottom: 1px solid #e9e9e9;
}
h4.reference-h4, h4.key-word-h4, h4.about-patent-h4 {
    font-size: 0;
    background: url("../img/main/Reference.png") no-repeat left;
    line-height: 15px;
}
ol.reference-list {
    margin-top: 19px;
}
ol.reference-list li {
    font-size: 12px;
    color: #454545;
    background: url("../img/main/Reference-marker.png") no-repeat left top;
    padding-left: 15px;
    letter-spacing: 0.2px;
}
.li-img, img.click-img {
    padding: 4px 0 0 1px;
}
img.cross-img, 
ol.reference-list li:nth-child(3) img.koi-img {
    margin-left: 6px;
}
img.koi-img {
    margin-left: 5px;
}
ol.reference-list li:not(:first-child) {
    margin-top: 8px;
}
ol.reference-list li:nth-child(2) {
    color: #26669d;
}
img.click-img {
    display: block;
}
.key-word {
    margin-top: 19px;
}
h4.key-word-h4 {
    line-height: 16px;
    background: url("../img/main/key-word.png") no-repeat left;
}
ul.key-word-tab-list {
    margin-top: 21px;
}
ul.key-word-tab-list li {
    float: left;
}
ul.key-word-tab-list li:not(:last-child) {
    border-right: none;
}
ul.key-word-tab-list li a {
    font-size: 12px;
    color: #737373;
    background: url("../img/main/key-word-tab.png") repeat-x;
    padding: 2px 21px;
    line-height: 20px;
    border: 1px solid #b8bfca;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
}
ul.key-word-tab-list li:first-child a {
    border-right: none;
}
ul.key-word-tab-list li:nth-child(3) a {
    padding: 2px 14px 2px 16px;
    border-left: none;
}
ul.key-word-tab-list li:nth-child(5) a {
    padding: 2px 7px 2px 11px;
}
ul.key-word-tab-list li:last-child a {
    padding: 2px 8px 2px 10px;
}
ul.key-word-tab-list li.active a, ul.key-word-tab-list li:hover a {
    background: url("../img/main/key-word-tab-hover.png") repeat-x;
    font-weight: bold;
    color: #004e9f;
    border: 1px solid #8cacc8;
    border-bottom: none;
}
.key-word-list-box {
    border-top: 1px solid #cdd2da;
    border-bottom: 1px solid #cdd2da;
    background: #fafafa;
    padding: 11px 0 16px 10px;
}
ul.key-word-list li {
    background: url("../img/main/key-word-list-marker.png") no-repeat left center;
    padding-left: 9px;
}
ul.key-word-list li a {
    line-height: 20px;
    font-size: 12px;
    color: #004e9f;
}
ul.key-word-list li a span {
    color: #454545;
    padding-left: 50px;
}
ul.key-word-list li:nth-child(2) a span {
    padding-left: 18px;
}
ul.key-word-list li:nth-child(3) a span {
    padding-left: 62px;
}
ul.key-word-list li:nth-child(4) a span {
    padding-left: 35px;
}
ul.key-word-list li:nth-child(5) a span {
    padding-left: 83px;
}
ul.key-word-list li:nth-child(6) a span {
    padding-left: 51px;
}
ul.key-word-list li:last-child a span {
    padding-left: 26px;
}
.key-word-pages {
    margin-top: 19px;
    padding-left: 206px;
    line-height: 16px;
}
.key-word-pages a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #454545;
    padding: 1.5px 4px;
}
.key-word-pages a.active, .key-word-pages a:hover {
    font-weight: bold;
    color: #000000;
}
.key-word-pages a.more-before, .key-word-pages a.before, .key-word-pages a.next, .key-word-pages a.more-next {
    background: url("../img/main/more-left-btn.png") no-repeat center;
    padding: 2px 12.5px;
}
.key-word-pages a.before {
    background: url("../img/main/left-btn.png") no-repeat center;
}
.key-word-pages a.next {
    background: url("../img/main/right-btn.png") no-repeat center;
}
.key-word-pages a.more-next {
    background: url("../img/main/more-right-btn.png") no-repeat center;
}
.key-word-pages a:nth-child(3) {
    padding: 1.5px 5px 1.5px 10.5px;
}
.key-word-pages a:nth-child(4) {
    padding: 1.5px 5px;
}
.key-word-pages a:nth-child(5) {
    padding: 1.5px 4px 1.5px 4.5px;
}
.key-word-pages a:nth-child(12) {
    padding: 1.5px 21.5px 1.5px 4px;
}
.about-patent {
    margin-top: 20px;
}
h4.about-patent-h4 {
    line-height: 16px;
    background: url("../img/main/about-patent.png") no-repeat left;
}
.about-patent ul.key-word-tab-list li a {
    padding: 2px 9px 2px 11px;
    letter-spacing: 0.7px;
}
.about-patent ul.key-word-tab-list li:nth-child(2) a {
    border-left: none;
    letter-spacing: 0.1px;
}